<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>当前所有商品</title>
</head>
<body>
<h2>所有商品，请点击你喜欢的加入购物车或直接购买</h2>
{% for product in products %}
<p>商品id<br>{{ product.id }}<br> <br>商品描述<br>{{ product.desc }}<br><br>
    商品图片<br>{{ product.picture }}
</p>
<form action="buy" method="post">
    <h3>购买该商品</h3>
    <p>请输入购买数量 <input type="number" name="buyCount" value="0"></p>
    <input type="hidden" name="product_id" value="{{ product.id }}">
    <button type="submit" >购买</button>
</form>
<form action="addcar" method="post">
    <h3>添加至购物车</h3>
    <p>请输入添加数量 <input type="number" name="buyCount" value="0"></p>
    <input type="hidden" name="product_id" value="{{ product.id }}">
    <button type="submit" >添加</button>
</form>

<hr />
{% end %}
</body>
</html>