<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎来到淘宝</title>
</head>
<body>
{% if user==None %}
<p><a href="/">点击登录</a></p>
{% else %}
<p>亲爱的用户{{ user }}</p>
{% end %}
<p>
<a href="/products"> 查看所有商品 </a><br>
</p>
<p>
<a href="/car">查看我的购物车</a><br>
</p>
<p>
<a href="/buy_history">查看历史购买记录</a><br>
</p>
<p>
    <a href="/allpaypal">查看我的支付宝</a>
</p>
<p>
    <form action="createPayPayl" method="post">
    <p> 创建新的支付宝账户并充值</p>
    <p>请输入充值金额</p>
    <input type="text" name="totalmoney">
    <input type="submit" value="创建新账户并充值">
</form>
</p>
<br><br>
<form action="/product/0" method="post">
    <p>我要添加商品</p>
    <p>商品价格<br>
    <input type="text" name="price">
    </p>
    <p>
        商品描述<br>
        <input type="text" name="desc">
    </p>
    <p>
        商品图片位置<br>
        <input type="text" name="url">
    </p>
    <input type="submit" value="提交商品信息">
</form>

<p>
    <a href="/logout" >注销当前用户</a>
</p>

</body>
</html>